.App{
    max-width: 900px;
}

footer{
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.6);
}

footer a{
    text-decoration: none;
    color: var(--basic-blue-color);
}
