.Weather {
  background-repeat: no-repeat;
  background-size: cover;
  width: 800px;
  border-radius: 25px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  color: white;
  opacity: 0.9;
  margin: 10px;
}

.Weather .date {
  font-size: 14px;
}

.Weather input {
  padding: 7px 10px;
  border: none;
}

.Weather .searchInput {
  border-radius: 10px 0 0 10px;
  color: var(--basic-blue-color);
  opacity: 0.7;
  font-weight: 600;
  box-sizing: content-box;
}

.Weather .searchInput:focus {
  outline: 1px solid var(--basic-blue-color);
}

.Weather .submitInput {
  border-radius: 0 10px 10px 0;
  background-color: var(--basic-blue-color);
  color: white;
}

.Weather .searchInput::placeholder {
  color: var(--basic-blue-color);
  font-size: 14px;
}

.Weather .locationIcon{
  cursor: pointer;
}
